<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    # Redirect non-www to www
    RewriteCond %{HTTP_HOST} ^anssystemcertification\.com$ [NC]
    RewriteRule ^(.*)$ https://www.anssystemcertification.com/$1 [L,R=301]

    # Allow access to sitemap.xml directly
    RewriteRule ^sitemap\.xml$ public/sitemap.xml [L]

    RewriteCond %{REQUEST_FILENAME} -d [OR]
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule ^ ^$1 [N]

    RewriteCond %{REQUEST_URI} (\.\w+$) [NC]
    RewriteRule ^(.*)$ public/$1

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ server.php
</IfModule>
